body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #bae8bb; /* Code couleur pour le bleu ciel */
    margin: 0; /* Supprime la marge par défaut du corps */
    padding: 0; /* Supprime le remplissage par défaut du corps */
    }


.card {
    
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.avatar img {
    width: 100%; /* Changé la largeur en pourcentage */
    height: auto; /* Changé la hauteur en "auto" pour maintenir le rapport hauteur/largeur */
    border-radius: 5px; /* Changé la valeur de "border-radius" pour une meilleure apparence rectangulaire */
    margin-bottom: 10px;
}

h1 {
    color: #333;
}

p {
    margin: 20px 0;
    font-weight: bold;
    color:#101010;
}

.contact-info a {
    margin: 0px 0;
    color: #33cc33;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin-right: 10px;
}
