body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #bae8bb; /* Code couleur pour le bleu ciel */
    margin: 0; /* Supprime la marge par défaut du corps */
    padding: 0; /* Supprime le remplissage par défaut du corps */
    }


.card {
    
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    font-family: Scrypt MT Bold;
}

p {
    margin: 20px 0;
    font-weight: bold;
    font-size: 13px;
    color:#101010;
}

.contact-info a {
    margin: 0px 0;
    color: #33cc33;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin-right: 10px;
}
